@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

form input {
    font-family: "Source sans Pro";
    background-color: #e5e5e5;
    border-radius: 50px;
    display: block;
    margin-bottom: 20px;
    padding-left: 20px;
    border : 0px;
    height: 30px;
    width: 200px;
}
